[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[dev-packages]
Werkzeug = "*"
ipython = "*"
factory-boy = "*"
codecov = "*"
coverage = "*"
django-debug-toolbar = "*"

[packages]
bjoern = "*"
django = "==5.1.8"
django-redis = "*"
django-configurations = {extras = ["database","cache"],version = "*"}
django-extensions = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
hiredis = "*"
psycopg2-binary = "*"
whitenoise = "*"
sentry-sdk = "*"
